body {
    background-color: rgb(26, 25, 25);

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(236, 240, 243);
    font-size: 25px;
    padding: 15px;
}

h2 {
    font-size: 200px;
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
}

button {
    padding: 12px;
    font-size: 20px;
    border-radius: 6px;
    font-weight: bold;
    margin-left: 20px;

}